
* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  .WorkoutsBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background: #f1f1f1;
    padding:20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    width: 100%;
    /*margin: 10px auto;*/
    max-height: 100vh;
    overflow-y: auto;
    /*margin-left: 110px;*/
    /*margin-top: 20px;*/
    /*margin-bottom: 20px;*/
    /*padding-bottom: 30px;*/
   
  
  }
  
  .WorkoutsBox > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /*justify-content: initial;*/
    height: 100%;

  }
  
  .detailStack {
    background: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
  

  
  .extraDetail {
    margin-top: 10px;
    font-size: 14px;
    
  }
  
  .detailButton {
    background: #eee;
    border: none;
    color: #333;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .detailText {
    color: #333;
    font-size: 12px;
    text-align: center;
    justify-content: center;
    /* text-transform: capitalize; */
  }
  .exerciseName {
    color: #333;
    text-align: center;
    margin-bottom: 16px;
    justify-content: center;
    text-transform: uppercase;
    font-size: 20px;
  }
 
  

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.success-animation { margin:150px auto;}

.checkmark {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #4bb71b;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #4bb71b;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
  position:relative;
  top: 5px;
  right: 5px;
  margin: 0 auto;
}
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #4bb71b;
  fill: #fff;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;

}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%, 100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #4bb71b;
  }
}








/*  //////////////////////////////////////////////////////////////////////// */

@media (max-width: 767px)   {
  .WorkoutsBox {
    grid-template-columns: 1fr;
    width: 70%;
    margin-left: 60px;
    margin-right: 30px;
    margin-bottom: 10px;
    padding: 10px;
}
}
@media screen and (min-width: 768px) and (max-width: 1024px)   {
  .WorkoutsBox {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    /*margin-left: 15%;*/
  }
}

@media screen and (min-width: 1025px) {
  .WorkoutsBox {
      grid-template-columns: repeat(3, 1fr);
      /*width: 95%;*/
      /*margin-left: 110px;*/
      /*padding: 20px;*/
  }
}